/* Genel Ayarlar */
body {
    font-family: 'Gloria Hallelujah', sans-serif; /* Gloria Hallelujah fontu */
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; /* Hafif gri bir arka plan rengi */
    color: #333; /* Daha koyu bir yazı rengi */
}

/* Header */
header {
    background-color: #007bff; /* Canlı mavi bir arka plan rengi */
    color: #fff; /* Beyaz yazı rengi */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em; /* Daha büyük başlık */
}

/* Navigasyon */
nav {
    margin: 15px 0;
}

nav a {
    margin: 0 15px;
    color: #fff; /* Beyaz renkli linkler */
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; /* Üzerine gelince altı çizili */
    color: #e0e0e0; /* Üzerine gelince açık gri */
}

/* Ana İçerik */
main {
    padding: 20px;
    max-width: 1200px; /* Maksimum genişlik */
    margin: 20px auto; /* Ortalamak için */
    background-color: #fff; /* Beyaz ana içerik arka planı */
    border-radius: 8px; /* Köşe yuvarlama */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Daha belirgin gölgelendirme */
}

/* Portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.portfolio-item {
    width: calc(33.333% - 40px); /* Üç sütun düzeni için */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 500px; /* Maksimum genişlik ayarı */
    max-height: 500px; /* Maksimum yükseklik ayarı */
    margin: auto; /* Ortalamak için */
}

.portfolio-item p {
    padding: 10px;
    margin: 0;
}

/* Footer */
footer {
    background-color: #333; /* Koyu gri footer arka planı */
    color: #fff; /* Beyaz yazı rengi */
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Sosyal Medya İkonları */
.social-media {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 30px; /* Daha büyük ikonlar */
    height: 30px;
    vertical-align: middle;
}
